<head>
  <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
</head>

<div class="header">
  <%= image_tag 'logo.png', :size => '100x100'%>
  <h1>Alpha-blog</h1>
</div>
<div class="container">
  <p>Create your blog now</p> 
  <%= link_to 'About', about_path %>
</div>
